


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>INCLUDE TEMPLATE WITH PARAMENTER</h1>
{% include "stackoverflow/name_snippet.html" with person="Jane" greeting="Hello" s=request.session only %}
{{person}}
{{greeting}}
{{request.user}}
{{request.user.id}}

<h1>INCLUDE TEMPLATE WITH PARAMENTER</h1>
<h1>perms</h1>
{% if 'stackoverflow.view_part' in perms %}
<p> stackoverflow.change_pattern </p>
{% endif %}

<br><br><br>

{% for x in object_list %}
    {{ x.name }}
    {{ x.email }}
    {{ x.country }}
  <img src="{{ x.image_url|default_if_none:'#' }}" />

{% endfor %}
<h1>perms</h1>
{{perms}}
</body>
</html>

