<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
body
{% for listings in postings%}
  <h1>{{listings.text}}</h1>
  <h1>{{listings.likes}}</h1>
  <h1>{{listings.author}}</h1>
  <h1>{{listings.author.username}}</h1>
{% endfor %}
</body>
</html>