<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for p in posts %}
    <div class="post width1 height2 column {% if forloop.counter0|divisibleby:4 %}first{% endif %}">
        <div class="preview">
        {{forloop.counter0}}
        </div>
        <div class="overlay">

        </div>
        <h2>p.title</h2>
    </div>
{% endfor %}

{% with posts|first as first_object %}
    {{ first_object.text }}
{% endwith %}
<br>
<h1>Slice for  text 2 leter</h1>
{{ posts.1.text|slice:":2" }}<br>
<h1>Slice for  text</h1>
{{ posts.2.text }}<br>



</body>
</html>