{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content" id="container-fluid">
    <div class="card shadow-sm rounded" style="max-width: 500px; margin: auto;">
        <div class="card-body">
            <h1>Reset Password</h1>
            <hr>
            <form method="post">
                {% crispy form %}
                <div class="row">
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}